html {
    width: auto;
    height: 1016px;
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-image: url(20240924_073347162_iOS.jpgt);
    background-size: 500px;
 }